.badge-success {
  background-color: #28a745;
  color: #fff;
}
.badge-warning {
  background-color: #ffc107;
  color: #212529;
}
.badge-secondary{
    background-color: #6c757d;
    color: #fff;
}
.badge-danger {
  background-color: #dc3545;
  color: #fff;
}