<c-row class="g-4">
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      color="primary"
      [title]="'Administradores'"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        {{ adminStats.total_users }}
        <span class="fw-normal" style="font-size: 12px;">
          ({{ adminStats.percentage_change > 0 ? '+' : '' }}{{ adminStats.percentage_change }}% 
          <svg cIcon [name]="adminStats.percentage_change >= 0 ? 'cilArrowTop' : 'cilArrowBottom'" size="sm"></svg>)
        </span>
      </ng-template>
      
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[0]" [options]="options[0]" class="mt-3 mx-3" height="70" [type]="'line'" />
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  
   <c-col sm="6" xl="3">
    <c-widget-stat-a
      color="info"
      [title]="'Usuarios del Sistema'"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        {{ userStats.total_users_system }}
        <span class="fw-normal" style="font-size: 12px;">
          ({{ userStats.percentage_change > 0 ? '+' : '' }}{{ userStats.percentage_change }}% 
          <svg cIcon [name]="userStats.percentage_change >= 0 ? 'cilArrowTop' : 'cilArrowBottom'" size="sm"></svg>)
        </span>
      </ng-template>
      
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[1]" [options]="options[1]" class="mt-3 mx-3" height="70" [type]="'line'" />
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      color="warning"
      [title]="'Terrazas del Sistema'"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        {{ terraceStats.total_terrace_system }}
        <span class="fw-normal" style="font-size: 12px;">
          ({{ terraceStats.percentage_change > 0 ? '+' : '' }}{{ terraceStats.percentage_change }}% 
          <svg cIcon [name]="terraceStats.percentage_change >= 0 ? 'cilArrowTop' : 'cilArrowBottom'" size="sm"></svg>)
        </span>
      </ng-template>
      
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[4]" [options]="options[4]" class="mt-3 mx-3" height="70" [type]="'line'" />
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      color="warning"
      [title]="'Conductores del Sistema'"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        {{ driverStats.total_drivers_system }}
        <span class="fw-normal" style="font-size: 12px;">
          ({{ driverStats.percentage_change > 0 ? '+' : '' }}{{ driverStats.percentage_change }}% 
          <svg cIcon [name]="driverStats.percentage_change >= 0 ? 'cilArrowTop' : 'cilArrowBottom'" size="sm"></svg>)
        </span>
      </ng-template>
      
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[2]" [options]="options[2]" class="mt-3 mx-3" height="70" [type]="'line'" />
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  
</c-row>
